## WEb Scraping

In [1]:
# thefollowing scrip extract information from different web pages to conbine 
# in a single dictionary 

#import dependencies
from bs4 import BeautifulSoup
import requests

# NASA Mars News

In [2]:
# this part extract information form the NASA page about the latest news related to Mars

url='https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
response = requests.get(url)
# response.status_code
#response.content

soup = BeautifulSoup(response.content, 'html.parser')

In [3]:
#collect the latest News Title and Paragraph Text. 
#Assign the text to variables that you can reference later.

title = soup.find('div', class_="content_title" ).a.text
parr =soup.find_all('div', class_="rollover_description_inner")[0].text       

print(title)
print (parr)

NASA's Mars 2020 Rover Closer to Getting Its Name


155 students from across the U.S. have been chosen as semifinalists in NASA's essay contest to name the Mars 2020 rover, and see it launch from Cape Canaveral this July.

# JPL Mars Space Images - Featured Image

In [8]:
# this part extract the "picture on the day"
from bs4 import BeautifulSoup
from splinter import Browser
import time

executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [9]:
#scrap the link for the Featured Image from https://www.jpl.nasa.gov/spaceimages.
url= 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
time.sleep(1)
browser.visit(url)

full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()
time.sleep(2)
soup = BeautifulSoup(browser.html, 'html.parser')
img_element = soup.find('img', "fancybox-image")

print(img_element['src'])

/spaceimages/images/mediumsize/PIA23354_ip.jpg

In [10]:
featured_image_url = 'https://www.jpl.nasa.gov'+ img_element['src']
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA23354_ip.jpg'

# Mars Weather

In [11]:
#this part scraps the latest weather update from the tweeter account of NASA

#import dependencies
from bs4 import BeautifulSoup
import requests

In [12]:
url= 'https://twitter.com/marswxreport?lang=en'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
# print(soup.prettify)

In [13]:
#access the data inside the descendents from tweet class
tweet_elem = soup.find_all('div', "tweet")
mars_weather = tweet_elem[0].find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

print (mars_weather)

InSight sol 421 (2020-02-02) low -93.1ºC (-135.6ºF) high -13.8ºC (7.2ºF)
winds from the SSE at 5.6 m/s (12.5 mph) gusting to 21.0 m/s (46.9 mph)
pressure at 6.30 hPapic.twitter.com/zgieOlktxs

# Mars Facts

In [14]:
# This part uses Pandas to scrape table containing facts about the planet

import pandas as pd

url = 'https://space-facts.com/mars/'

In [15]:
tables = pd.read_html(url)
# tables

In [16]:
len(tables)

3

In [17]:
tables[2]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
df=tables[2]
df.columns = ['description', 'value']
df.set_index('description', inplace=True)
df.head()

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [ ]:
html_table = df.to_html()
# html_table

In [19]:
df.to_html('table.html')

# Mars Hemispheres

In [20]:
# USGS Astrogeology obtain high resolution images for each of Mar's hemisphere
from splinter import Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [21]:
url= 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)
html = browser.html

In [22]:
soup = BeautifulSoup(html, 'html.parser')
elements = soup.find_all('div', class_="item")
titles=[]
urls = []
for element in elements:
    
    title=element.h3.text
    partial_url =element.a['href']
    titles.append(title)
    urls.append('https://astrogeology.usgs.gov'+partial_url)
    print(title)
    print(partial_url)

Cerberus Hemisphere Enhanced
/search/map/Mars/Viking/cerberus_enhanced
Schiaparelli Hemisphere Enhanced
/search/map/Mars/Viking/schiaparelli_enhanced
Syrtis Major Hemisphere Enhanced
/search/map/Mars/Viking/syrtis_major_enhanced
Valles Marineris Hemisphere Enhanced
/search/map/Mars/Viking/valles_marineris_enhanced

In [26]:
#scrapeing the high resolution picture for the 4 elements using the bove URLs 
from splinter import Browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
url_hi_res =[]

for eachURL in urls:
    browser.visit(eachURL)
    time.sleep(2)
    soup = BeautifulSoup(browser.html, 'html.parser')
    img_url = soup.find('div', 'downloads')
    pic=img_url.a['href']
    url_hi_res.append(pic)
    print(pic)
url_hi_res

http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg
http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg

['http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg']

In [28]:
#dictionary with both title and image
import pandas as pd

data = {'titles': titles, 'imag_HR': url_hi_res}
Hemisphere_image_urls= pd.DataFrame(data)
Hemisphere_image_urls.head(5)

,titles,imag_HR
0,Cerberus Hemisphere Enhanced,http://astropedia.astrogeology.usgs.gov/downlo...
1,Schiaparelli Hemisphere Enhanced,http://astropedia.astrogeology.usgs.gov/downlo...
2,Syrtis Major Hemisphere Enhanced,http://astropedia.astrogeology.usgs.gov/downlo...
3,Valles Marineris Hemisphere Enhanced,http://astropedia.astrogeology.usgs.gov/downlo...